<!DOCTYPE html>
<html>
  <head>
    <title>Simple chatting app</title>
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/" method="POST" id="chatForm">
      <div class="wrapper">

        <input
        type="text"
        id="txt"
        autocomplete="off"
        autofocus="on"
        placeholder="type your message here..."
      />
      <button>Send</button>

      </div>
    </form>

    <script>
      // Submit text message without reload/refresh the page
      $('form').submit(e => {
        e.preventDefault()
        socket.emit('chat_message', $('#txt').val())
        $('#txt').val('')
        return false
      })

      // connect with server
      var socket = io.connect('http://localhost:8080')

      // append the chat text message
      socket.on('chat_message', msg => {
        $('#messages').append($('<li>').html(msg))
      })

      // append text if someone is online
      socket.on('is_online', username => {
        $('#messages').append($('<li>').html(username))
      })

      // ask username
      var username = prompt('Please tell me your name')

      // emit the username with a value
      socket.emit('username', username)
    </script>
  </body>
</html>
